.top{
  background: url("../img/top/Image.png")no-repeat;
  background-size: cover;
  height: 698px;
  header{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #fff;
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .wrapper {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 40px;
      font-family: $main-font;
    }
    .top__logo{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        color: #757575;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 1.8px;

      }
    }
    #check-menu {
      display: none;
    }
    .main-menu{
      .burger-a{
        padding: 0 10px;
        color: #aaaaaa;
        font-family: $main-font;
        font-size: 12px;
        font-weight: 600;
        line-height: 50px;
        text-transform: uppercase;
        width: 100%;
        text-decoration: none;
      }
    }
    .top__social {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
      }
      .icon {
        color: #aaa;
      }
      .gray_line-thin::before {
        content: '';
        display: block;
        height: 16px;
        background-color: #aaa;
        width: 1px;
        margin: 0 5px 0 7px;
      }
      .gray_line-fat::before {
        content: '';
        display: block;
        height: 16px;
        background-color: #aaa;
        width: 3px;
        margin: 0 5px;
      }
    }
  }
  .top__carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    margin-top: 200px;
    img{
      max-width: 100%;
      height: auto;
    }
    h3{
      @include main_text;
      color: #fff;
      line-height: 50px;
    }
    h1{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 240px;
      width: 516px;
      height: 109px;
      background: url("../img/top/Line.png")no-repeat;
      @include style_headline;
      color: #fff;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 0.89px;
    }
    .top__carousel_btn{
      margin: 40px 0 0 0 ;
      width: 135px;
      height: 40px;
      color: #fff;
      font-family: $main-font;
      font-size: 13px;
      font-weight: 700;
      border: 2px solid #fff;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    img{
      margin: -8px 0 0 490px;
    }
  }
}
@media screen and (max-width: 1100px){
  .top {
    .top__carousel{
      max-width: 800px;
      h1{
        margin-left: 140px;
      }
      img{
        margin: -8px 0 0 395px;
      }
    }
  }
}
@media screen and (max-width: 900px){
  .top{
    .wrapper{
      .top__burger{
        .main-menu{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          a{
            max-width: 80px;
            max-height: 30px;
            padding: 0;
            line-height: 30px;
          }
        }
      }
    }
    .top__carousel{
      max-width: 600px;
      h1{
        margin-left: 40px;
      }
      img{
        margin: -8px 0 0 295px;
      }
    }
  }
}
@media screen and (max-width: 575.98px){
  .top{
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .wrapper {
      background-color: #fff;
      position: relative;
      color: white;
      text-align: center;
      height: 40px;
    }
    .top__logo{
      margin-bottom: 8px;
    }

    #check-menu {
      display: none;
    }

    .burger-label {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      line-height: 40px;
    }

    .burger-line {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 30px;
      height: 2px;
      background-color: #000;
      transition: .5s all;
    }

    .second, .third {
      top: 18px;
    }

    .fourth {
      top: 28px;
    }

    .main-menu {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s all;
    }

    .burger-a {
      display: block;
      width: 100%;
      padding: 10px;
      color: white;
      text-decoration: none;
      border-top: 1px solid #757575;
      background-color: #fff;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }

    #check-menu:checked ~ {
      .main-menu {
        max-height: 500px;
        font-size: 16px;
      }
      .first {
        display: none;
      }
      .second {
        transform: rotate(45deg);
      }
      .third {
        transform: rotate(-45deg);
      }
      .fourth {
        display: none;
      }
    }
    .top__social{
      margin-bottom: 10px;
      margin-right: 45px;
    }
    .top__carousel{
      max-width: 250px;
      img{
        max-width: 100%;
        height: auto;
      }
      h3{
        @include main_text;
        color: #fff;
        line-height: 50px;
      }
      h1{
        margin-left: 0;
        width: 250px;
        font-size: 20px;
      }
      img{
        margin: -8px 0 0 115px;
      }
    }
  }
}